body {
    margin: 0;
    background-color: turquoise;
    color: palevioletred;
    text-align: center;
}

header {
    background-color: honeydew;
}

canvas {
    text-align: center;
    border: 1px solid black;
}