body {
    margin: 0;
    background-color: turquoise;
    color: palevioletred;
    text-align: center;
}

header {
    margin: 0;
    height: 100%;
    background-image: radial-gradient(#333, #123456, #222);
}

canvas {
    text-align: center;
    border: 1px solid black;
}